<%# buton to send to form  link send nme to new page  %>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center mt-5">
    <h1>🎬Movies🍿</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container py-5">
  <p class="btn btn-primary text-black"><%= link_to "Add list", new_list_path(@bookmark) %></p>
</div>
